nav {
    background-color: #007BFF; /* Синий цвет */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.search-container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
}

form div {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover {
    background-color: #0056b3;
}

themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 123, 255, .1);
    border: 1px solid rgba(0, 123, 255, .2);
 }
row .col-md-1, 
row .col-md-2, 
row .col-md-8 {
    border: 1px solid #ced4da;
}
.row .col-md-1 {
    background-color: #e9ecef;
}
h2, h3 {
    color: #007bff;
}